{% extends 'base.html' %}
{% load static %}


{% block title %} Home {% endblock %}

{% block content%}

<!-- Callout Hero -->

<div class="container-fluid callout-container">
  <div class="opaque-overlay"></div>
  <div class="row">
    <div class="col-12">
      <section class="callout jumbotron text-center">
        <h1 class="jumbotron-header heading">Connemara Sticks</h1>
        <p class="slogan">The magic begins when you take the stick for a walk</p>
      </section>
    </div>
  </div>
</div>



<!-- Products -->

<section class=" container products">
  <div class="title text-center product-title">
    <h2>Products</h2>
  </div>
  <hr class="hr-primary w-15 hr-xl ml-0 mb-5">
  <div class="container-fluid">
    <div class="row contact text-center pb-5">
      {% for product in products %}
      <div class="col-9 info-box mx-auto m-2 pb-0 col-md-6 col-lg-4">
        <div class="card mb-2" style="border-color: transparent;">
          <a href="{{product.get_url}}">
            <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
          </a>
          <div class="card-body">
            <h4 class="card-title">{{product.name}}</h4>
            <p class="card-text">
              {{product.description|slice:":80" }} ... </p>
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price text-success">
                <h5 class="mt-4">€ {{product.price}}</h5>
              </div>
              <a role="button" href="{% url 'add_cart' product.id %}" name="button" class="btn btn-warning">
                Add to Cart
              </a>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
    <!-- Paginator -->
    <div class="paginate text-center pb-2">
      {% if products.paginator.num_pages > 1 %}
      {% for page_number in products.paginator.page_range %}
      <a href="?page={{page_number}}"
        class="btn btn-warning btn-sm {% if products.number == page_number %}active{% endif %}">
        {{page_number}}</a>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

<!-- Jumbotron Woods Section -->

<div class="jumbotron jumbotron-wood">
  <div class="container-fluid">
    <div class="opaque-overlay">
      <h2 class="text-success">THERE IS A STORY<br> BEHIND EVERY<br>STICK</h2>
    </div>
    <a role="button" href="{% url 'about' %}" class="btn btn-more btn-outline-success">FIND OUT MORE</a>
  </div>
</div>


<!-- Features -->

<section class=" container features">
  <div class="title text-center">
    <h2>Features</h2>
  </div>
  <hr class="hr-primary w-15 hr-xl ml-0 mb-5">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="feature">
        <h3><i class="fas fa-tree d-none d-sm-inline"></i> Material </h3>
        <p>Our wooden walking sticks are handcrafted in Ireland from the highest quality native trees. Crafted from
          beautiful and durable materials, we cut all our raw material during the winter months and are
          seasoned for a minimum of 12 months.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="feature">
        <h3><i class="fas fa-drafting-compass d-none d-sm-inline"></i> Made In Ireland </h3>
        <p>We offer an unbeatable selection of handmade wooden walking sticks for hiking. Our hiking sticks are
          beautifully crafted by ourselves in our workshop where we guarantee no two sticks are the same..</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="feature">
        <h3><i class="fas fa-pencil-ruler d-none d-sm-inline"></i> Customization</h3>
        <p>We offer a wide range of accessories, including compasses, badges and Connemara marble.
          Have an idea or are looking to have one made for a special person, contact us with your idea and
          we will happily help try bring that idea alive.</p>
      </div>
    </div>
  </div>
</section>



{% endblock %}