{% extends 'base.html' %}
{% load static %}


{% block title %} Sticks {% endblock %}

{% block content%}

<div class="jumbotron jumbotron-products">
  <div class="container-fluid">
    <div class="opaque-overlay">
      <h2>Connemara Sticks</h2>
    </div>
    <div>
      <p>Every stick from start to finish has been sourced, worked on and<br> finished by us here.</p>
    </div>
  </div>
</div>


<!-- Products -->



<section class="container py-7">
  <div class="title text-center">
    <h2>Products</h2>
  </div>
  <hr class="hr-primary w-15 hr-xl ml-0 mb-5">
  <!-- Start List Product -->
  {% for product in products %}
  <div class="ht__list__product col-12 mx-auto col-md-12 col-lg-12 mt-3">
    <div class="ht__list__thumb">
      <a href="{{product.get_url}}"><img class="img-products" src="{{product.image.url}}" alt="{{product.name}}"></a>
    </div>
    <div class="htc__list__details">
      <h2><a href="product-details.html">{{product.name}}</a></h2>
      <div class="price">
        <h5 class="mt-4">€ {{product.price}}</h5>
      </div>
      <p>{{product.description}}</p>
      <div class="fr__list__btn">
        <a class="btn btn-warning" href="{% url 'add_cart' product.id %}">Add To Cart</a>
      </div>
    </div>
  </div>
  {%endfor%}
  </div>
</section>


{% endblock %}