{% extends 'base.html' %}
{% load static %}


{% block title %} Stick {% endblock %}

{% block content%}
<div class="jumbotron jumbotron-product">
  <div class="container-fluid">
    <div class="opaque-overlay">
      <h2>Product Details</h2>
    </div>
    <div>
      <p>Made with the best raw materials.</p>
    </div>
  </div>
</div>



<!-- Product Details Area Start -->

<!--Section: Content-->
<section class="text-center ">
  <div class="title text-center product-title">
    <h2>Product Details</h2>
  </div>
  <hr class="hr-primary w-15 hr-xl ml-0 mb-2">
  <div class="container py-3 z-depth-1 contact">
    <div class="row info-box">
      <div class="col-lg-6">
        <div class="product-img">
          <img src="{{product.image.url}}" alt="product" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-5 text-center text-md-left">
        <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold mb-1 ml-xl-0 ml-4">
          <strong>{{product.name}}</strong></h2>

        <h5 class="product-price">€{{product.price}}</h5>

        <div class="size-font">
          <h3>Length</h3>
          <h5 class="size">{{product.length}} m</h5>
        </div>
        <div class="short_overview my-5">
          <p>{{product.description}}</p>
        </div>
        {% if product.stock <= 0 %}
        <p class="text-justify product_text"><b>Out of Stock</b></p>
        {% else %}
        <a role="button" href="{% url 'add_cart' product.id %}" id="button" class="btn btn-warning">
          Add to Cart
        </a>
        {% endif %}
      </div>

    </div>
  </div>
</section>
<!--Section: Content-->
{% endblock %}