{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} Sign Up {% endblock %}

{% block content%}

<!-- Jumbotron register -->
<div class="jumbotron jumbotron-register">
  <div class="container-fluid">
    <div class="opaque-overlay">
      <h2>Sign Up</h2>
    </div>
    <div>
      <p>Create an account.</p>
    </div>
  </div>
</div>


<!-- Register Form -->
<div class="container-fluid register">
  <div>
    {% if not form.is_valid %}
    <div class="mx-auto">
      <br>
      <div class="title text-center ">
        <h2>Create A New Account</h2>
      </div>
      <hr class="hr-primary w-15 hr-xl ml-0 mb-2">
      <br>
      <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light mb-5">
        <br>
        <p>Enter the following information to create a new account</p>
        <form method="POST">
          {% csrf_token %}
          <p>{{ form | crispy }}</p>
          <button type="submit" name="button" class=" align-center btn btn-warning">Sign Up</button>
        </form>
        <br>
      </div>
    </div>
    {% else %}
    <div class="container contact mx-auto">


      <div class="section-title text-center">
        <h2>Your account has been successfully created.</h2>
      </div>
      <hr class="hr-primary w-15 hr-xl ml-0 mb-5">
      <div class="row text-center">
        <div class="col-md-12">
          <div class="info-box mt-4 mb-5">
            <i class="fas fa-check-circle"></i>
            <h2>Dear Customer,</h2>
            <h4>Your account has been created and it is ready to use.</h4>
            <br>
            <a href="{% url 'index' %}">Continue shopping</a>
          </div>
        </div>
      </div>

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}